
server:
  port: 8084
spring:
  application:
    name: shipping-service
  datasource:
    url: jdbc:postgresql://host.docker.internal/shipping
    username: postgres
    password: simple123
    driver-class-name: org.postgresql.Driver

  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update
    show-sql: true

  cloud:
    function:
      definition: shippingSendSupplier
    stream:
      bindings:
        shippingSendEventListener-out-0:
          destination: shipping.send.exchange
          content-type: application/json
          producer:
            durable-expression: true

management:
  endpoints:
    web:
      exposure:
        include: busrefresh, prometheus
    prometheus:
      enabled: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    hostname: localhost
    instance-id: ${spring.application.name}:${server.port}

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  group-configs:
    - group: shipping
      paths-to-match: /shipping/**
      packages-to-scan: com.arka_store.shipping